![The Pokémon Logo](pokemon-logo.png)

# **When Best to Buy to Collect 'em All**
When I was a kid, [Pokémon](https://en.wikipedia.org/wiki/Pok%C3%A9mon) was all the rage.  At 9, I was regularly watching a VHS tape (dating myself, I know) that simply *talked* about the idea of catching them all.  I was hooked.  Like every fan's relationship with their hobby or interest, I had my ups and downs with the franchise and its various media, yet my adoration persisted.  There was one line of products that really caught my attention as a child.  It was the [Trading Card Game](https://en.wikipedia.org/wiki/Pok%C3%A9mon_Trading_Card_Game) (TCG, for short), and came shortly after the [television series](https://en.wikipedia.org/wiki/Pok%C3%A9mon_(TV_series)) and [games](https://en.wikipedia.org/wiki/List_of_Pok%C3%A9mon_video_games) and was just as big of a smash hit as the aforementioned two.  I jumped on the card game, doing everything from collect to 'battle' with them.  I collected in a large spurt (my mother's pocketbook suffered greatly) and was generally a giant pest.  I was spoiled, but unfortunately for me and fortunately for her, my love was short-lived.  Sadly, however, it was not because I just stopped, but it was more mental.

Throughout my life I've been battling depression.  In college, I was formally diagnosed with dysthymia which is just fancy doctor-speak for persistent, long-term depression.  In my teens and twenties it was at its worst, I all but fell out of love with the card game and a lot of things in life.  It was only in my thirties that I realized hobbies are an important part of one's life and sense of self.  So, during the pandemic, I jumped into my closet and found the old cards I'd collected.  Unfortunately, I didn't take good care of my cards.  I remain undeterred though.  I'm 34 now, and my desire has never been higher.

So, I'm on a quest to fulfill what my childhood self wanted.  This notebook and project are with that in mind, to find deals, and figure out through pricing history and trends how best I can approach what almost every Pokémon aficionado strives so hard to do: to collect 'em all.

#### **Goal(s) for this project**
- analyzing trends and the overall history of sealed singles to find the best time to purchase them
- people are different and like different types of Pokémon.  I've found - and will merge - a data set containing all 1000+ pokemon to see  
- for longer term cards, i.e. 'vintage', i'll look through the various sets release and see if they forever mature or their price dips as well

Note: numbers will be skewed as we are just coming off of the pandemic and the market is currently artificially inflated thanks to the actions of certain groups

#### **Expectations and Methodology** <img src="pikachu-magnifying-glass.png" width="325.33333333333333333333333333333" height="341.33333333333333333333333333333" align="right"/>
Insofar as my expectations are concerned, I think this particular project is going to be difficult.  As of my revision, while I thought it was going to be difficult, it turned out way harder.  Finding historical prices via APIs has been tremendously difficult.  I'm doing a bunch of different things than my prior cases in Jupyter Notebook and this is a lot more invovled, mechanically, than most of my old stuff.

First things first: this project wouldn't be possible without an API or a webscraper.  After a pretty laborious search through the muck of Kaggle, Google, and premium APIs, I found a [single RESTful API](https://pokemontcg.io/), which is the easier architecture of the two available (the other being SOAP) to make use of.  At this moment, I'm going to mess with the API and see if it returns what I want.  What I expect from this, insofar as the 'spine' of this project is concerned, is threefold:

1. I want to take 'snapshots' of certain windows when it comes to pricing single product, which is TCG-speak for just saying 'individual cards'.  For all of them, it'll be on the intervals of 1, 2, 3, 6, 9, and a year.
2. There are, ultimately, favorite Pokémon in the fandom.  People like Pikachu more than Spearow, or Charizard more than Feraligatr.  So, I want to see if pricing trends differ based on popularity.
3. Similarly, I want also look at the trends of singles and sets and the relation.

I will then make conclusions based off of what I've learned.

#### Importing Necessary Libraries

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Loading Data

There are two .csv's that I'll use for this project:

1. Historical Data from TCGPlayer (.csv)
2. Most Popular Pokemon Data (.csv)

In [27]:
# reading in the historical data
hist_df = pd.read_csv('tcgplayer-data.csv')

# showing the first five rows
hist_df.head()

,Card,Set,Number,Rarity,Condition,Volatility,3/18 to 3/24,3/25 to 3/31,4/1 to 4/7,4/8 to 4/14,...,1/6 to 1/12,1/13 to 1/19,1/20 to 1/26,1/27 to 2/2,2/3 to 2/9,2/10 to 2/16,2/17 to 2/23,2/24 to 3/2,3/3 to 3/9,3/10 to 3/16
0,Gengar VMAX (Alternate Art Secret),SWSH08: Fusion Strike,271/264,Secret Rare,Near Mint,Med Volatility,228.68,252.39,289.66,312.91,...,657.73,697.20,732.91,744.80,735.06,718.11,719.55,699.55,682.49,679.85
1,Gengar ex - 193/162,SV05: Temporal Forces,193/162,Ultra Rare,Near Mint,Med Volatility,19.05,13.13,13.78,12.70,...,22.79,24.81,24.98,24.79,24.57,22.54,24.16,25.13,24.15,22.57
2,Gengar,SWSH11: Lost Origin Trainer Gallery,TG06/TG30,Ultra Rare,Near Mint,Med Volatility,2.47,2.57,2.98,2.35,...,10.22,13.40,16.17,15.35,15.00,15.59,19.98,18.98,17.25,16.61
3,Charizard,Base Set,004/102,Holo Rare,Near Mint,Med Volatility,385.66,386.97,370.05,369.79,...,442.48,427.29,406.44,441.24,440.18,378.71,398.63,449.77,453.59,462.27
4,Charizard GX (Secret),SM - Burning Shadows,150/147,Secret Rare,Near Mint,Indeterminate Volatility,397.94,397.94,413.30,413.30,...,420.70,411.27,414.50,414.50,414.50,416.27,423.25,423.90,418.99,418.99

In [21]:
# reading in the popularity data
pop_df = pd.read_csv('pokemon-favorites-list.csv')

# showing the first five rows
pop_df.head()

     Pokemon  Number of votes  Rank
0  Charizard             1107     1
1     Gengar             1056     2
2   Arcanine              923     3
3  Bulbasaur              710     4
4   Blaziken              613     5

#### Upkeep, Merging, and Cleaning Data

Upkeep:
*   Taking a look at both dateframes and getting rid of any columns that aren't going to factor into our analysis.
*   Rearranging columns if they need to be so that readability won't be an issue.
*   Converting title names for consistency
*   Renaming the 'Card' column to 'Pokemon'

In [ ]:
print(hist_df.columns)  # remove 'Volatility'

Index(['Card', 'Set', 'Number', 'Rarity', 'Condition', 'Volatility',
       '3/18 to 3/24', '3/25 to 3/31', '4/1 to 4/7', '4/8 to 4/14',
       '4/15 to 4/21', '4/22 to 4/28', '4/29 to 5/5', '5/6 to 5/12',
       '5/13 to 5/19', '5/20 to 5/26', '5/27 to 6/2', '6/3 to 6/9',
       '6/10 to 6/16', '6/17 to 6/23', '6/24 to 6/30', '7/1 to 7/7',
       '7/8 to 7/14', '7/15 to 7/21', '7/22 to 7/28', '7/29 to 8/4',
       '8/5 to 8/11', '8/12 to 8/18', '8/19 to 8/25', '8/26 to 9/1',
       '9/2 to 9/8', '9/9 to 9/15', '9/16 to 9/22', '9/23 to 9/29',
       '9/30 to 10/6', '10/7 to 10/13', '10/14 to 10/20', '10/21 to 10/27',
       '10/28 to 11/3', '11/4 to 11/10', '11/11 to 11/17', '11/18 to 11/24',
       '11/25 to 12/1', '12/2 to 12/8', '12/9 to 12/15', '12/16 to 12/22',
       '12/23 to 12/29', '12/30 to 1/5', '1/6 to 1/12', '1/13 to 1/19',
       '1/20 to 1/26', '1/27 to 2/2', '2/3 to 2/9', '2/10 to 2/16',
       '2/17 to 2/23', '2/24 to 3/2', '3/3 to 3/9', '3/10 to 3/16'],
      dtype='object')

,Card,Set,Number,Rarity,Condition,Volatility,3/18 to 3/24,3/25 to 3/31,4/1 to 4/7,4/8 to 4/14,...,1/6 to 1/12,1/13 to 1/19,1/20 to 1/26,1/27 to 2/2,2/3 to 2/9,2/10 to 2/16,2/17 to 2/23,2/24 to 3/2,3/3 to 3/9,3/10 to 3/16
0,Gengar VMAX (Alternate Art Secret),SWSH08: Fusion Strike,271/264,Secret Rare,Near Mint,Med Volatility,228.68,252.39,289.66,312.91,...,657.73,697.20,732.91,744.80,735.06,718.11,719.55,699.55,682.49,679.85
1,Gengar ex - 193/162,SV05: Temporal Forces,193/162,Ultra Rare,Near Mint,Med Volatility,19.05,13.13,13.78,12.70,...,22.79,24.81,24.98,24.79,24.57,22.54,24.16,25.13,24.15,22.57
2,Gengar,SWSH11: Lost Origin Trainer Gallery,TG06/TG30,Ultra Rare,Near Mint,Med Volatility,2.47,2.57,2.98,2.35,...,10.22,13.40,16.17,15.35,15.00,15.59,19.98,18.98,17.25,16.61
3,Charizard,Base Set,004/102,Holo Rare,Near Mint,Med Volatility,385.66,386.97,370.05,369.79,...,442.48,427.29,406.44,441.24,440.18,378.71,398.63,449.77,453.59,462.27
4,Charizard GX (Secret),SM - Burning Shadows,150/147,Secret Rare,Near Mint,Indeterminate Volatility,397.94,397.94,413.30,413.30,...,420.70,411.27,414.50,414.50,414.50,416.27,423.25,423.90,418.99,418.99

In [ ]:
print(pop_df.columns)   # remove 'Number of votes'

Index(['Pokemon', 'Number of votes', 'Rank'], dtype='object')

#### Card Data and Historical Prices

General upkeep and renaming to prepare for a more seamless merger...

In [36]:
hist_prices = hist_df.drop(columns = ['Volatility'])    # removing the 'Volatility' column
hist_prices.rename(columns = {'Card': 'Pokemon'}, inplace = True)  # renaming 'Card' to 'Pokemon'

# checking to see if the changes were successful
hist_prices.head()

,Pokemon,Set,Number,Rarity,Condition,3/18 to 3/24,3/25 to 3/31,4/1 to 4/7,4/8 to 4/14,4/15 to 4/21,...,1/6 to 1/12,1/13 to 1/19,1/20 to 1/26,1/27 to 2/2,2/3 to 2/9,2/10 to 2/16,2/17 to 2/23,2/24 to 3/2,3/3 to 3/9,3/10 to 3/16
0,Gengar VMAX (Alternate Art Secret),SWSH08: Fusion Strike,271/264,Secret Rare,Near Mint,228.68,252.39,289.66,312.91,314.11,...,657.73,697.20,732.91,744.80,735.06,718.11,719.55,699.55,682.49,679.85
1,Gengar ex - 193/162,SV05: Temporal Forces,193/162,Ultra Rare,Near Mint,19.05,13.13,13.78,12.70,11.52,...,22.79,24.81,24.98,24.79,24.57,22.54,24.16,25.13,24.15,22.57
2,Gengar,SWSH11: Lost Origin Trainer Gallery,TG06/TG30,Ultra Rare,Near Mint,2.47,2.57,2.98,2.35,2.60,...,10.22,13.40,16.17,15.35,15.00,15.59,19.98,18.98,17.25,16.61
3,Charizard,Base Set,004/102,Holo Rare,Near Mint,385.66,386.97,370.05,369.79,360.99,...,442.48,427.29,406.44,441.24,440.18,378.71,398.63,449.77,453.59,462.27
4,Charizard GX (Secret),SM - Burning Shadows,150/147,Secret Rare,Near Mint,397.94,397.94,413.30,413.30,408.31,...,420.70,411.27,414.50,414.50,414.50,416.27,423.25,423.90,418.99,418.99

#### Popularity Rankings

More upkeep and removals...

In [35]:
pop_pokes = pop_df.drop(columns = ['Number of votes'])  # removing the 'Number of votes' column
pop_pokes.rename(columns = {'Rank': 'Popularity Ranking'}, inplace = True)  # renaming 'Rank' to 'Popularity Ranking' for clarity

# checking to see if the changes were successful
pop_pokes.head()

     Pokemon  Popularity Ranking
0  Charizard                   1
1     Gengar                   2
2   Arcanine                   3
3  Bulbasaur                   4
4   Blaziken                   5

#### Data Consistency

Now, unfortunately, we cannot make sure that our card names are the same as cards come from different sets, generations, and as such have different gimmicks.  Every other column, however, is distinct thanks to the web scraper.

That being said, we do have missing values for cards that were released in the last 52 weeks.  We will change those to 'NULL' to avoid price inaccuracies that affect our gathered data.

In [ ]:
# replacing '0.00' with null values in the 'Price' column
hist_prices.replace(0.0, np.nan, inplace = True)

# printing 'Pikachu ex' from 'Surging Sparks' that released late last year to check if our change worked
print(hist_prices.loc[85])

Pokemon                Pikachu ex - 238/191
Set                    SV08: Surging Sparks
Number                              238/191
Rarity            Special Illustration Rare
Condition                         Near Mint
3/18 to 3/24                            NaN
3/25 to 3/31                            NaN
4/1 to 4/7                              NaN
4/8 to 4/14                             NaN
4/15 to 4/21                            NaN
4/22 to 4/28                            NaN
4/29 to 5/5                             NaN
5/6 to 5/12                             NaN
5/13 to 5/19                            NaN
5/20 to 5/26                            NaN
5/27 to 6/2                             NaN
6/3 to 6/9                              NaN
6/10 to 6/16                            NaN
6/17 to 6/23                            NaN
6/24 to 6/30                            NaN
7/1 to 7/7                              NaN
7/8 to 7/14                             NaN
7/15 to 7/21                            NaN
7/22 to 7/28                            NaN
7/29 to 8/4                             NaN
8/5 to 8/11                             NaN
8/12 to 8/18                            NaN
8/19 to 8/25                            NaN
8/26 to 9/1                             NaN
9/2 to 9/8                              NaN
9/9 to 9/15                             NaN
9/16 to 9/22                            NaN
9/23 to 9/29                            NaN
9/30 to 10/6                            NaN
10/7 to 10/13                           NaN
10/14 to 10/20                          NaN
10/21 to 10/27                        305.3
10/28 to 11/3                        480.41
11/4 to 11/10                        492.09
11/11 to 11/17                       448.65
11/18 to 11/24                       486.76
11/25 to 12/1                        487.87
12/2 to 12/8                         468.78
12/9 to 12/15                         467.5
12/16 to 12/22                       472.02
12/23 to 12/29                       474.93
12/30 to 1/5                         461.66
1/6 to 1/12                          476.18
1/13 to 1/19                         485.95
1/20 to 1/26                         474.56
1/27 to 2/2                          468.81
2/3 to 2/9                           461.43
2/10 to 2/16                          457.9
2/17 to 2/23                         456.22
2/24 to 3/2                          456.14
3/3 to 3/9                           442.02
3/10 to 3/16                         442.08
Name: 85, dtype: object

#### Merging Dataframes

This part is a little tricky as some cards aren't simply known by 'Pikachu', 'Luxray', or 'Charizard', but rather 'Pikachu ex', 'Luxray Lv.X', and 'M Charizard Y'.  There are even cards with **two** Pokemon in them, so we'll have to assign two rankings to them in this merge.